.ant-pro-layout-sider-collapsed .ant-pro-sider-menu-item-title {
  display: none !important;
}

.ant-pro-layout-sider-collapsed .ant-pro-layout-sider-footer,
.ant-pro-layout-sider-collapsed .ant-pro-layout-sider-actions {
  justify-content: center;
  padding-inline: 0;
  display: none;
}
